body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
    .w3-row-padding img {margin-bottom: 12px}
    /* Set the width of the sidebar to 120px */
    .w3-sidebar {width: 120px;background: #c5afaf;}
    /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
    #main {margin-left: 120px}
    /* Remove margins from "page content" on small screens */
    @media only screen and (max-width: 600px) {
          #main {margin-left: 0}}
    /* @media only screen and (max-width: 600px) {
        .card {
          margin-bottom: 0; 
        }
      } */
	  @media only screen and (max-width: 600px) {
		.typewriter h1 {
			font-size: 0.5vw;
		}
		.typewriter h2 {
			font-size: 0.5em; /* Adjust the font size for h2 on mobile */
		  }
	  
		.typewriter p {
		  animation: typing 7s steps(40, end), blink-caret .75s step-end infinite;
		}
	  }
     /* Typewriter Styles */
     .typewriter h1 {
      font-size: 3vw;
      color: #966e6e;
      font-family: monospace;
      overflow: hidden;
      border-right: .15em solid orange;
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: .15em;
      animation: typing 3.5s steps(30, end), 
      blink-caret .5s linear infinite;
    }
	.typewriter h2 {
		font-size: 2em; /* Adjust the font size for h2 on desktop */
	  }

    .typewriter p {
        color: #865959;
        font-size: 2vw;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid orange; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em; /* Adjust as needed */
        animation: 
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
    }
      
      * { color:#1b0404; text-decoration: none;}

	

    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }

    @keyframes blink-caret {
        0%, 100% { border-color: orange; }
        50% { border-color: transparent; }
    }
    .typewriter {
        width: 100%; /* Adjust this value based on your layout */
        height: auto; /* Or set a fixed height if needed */
        padding: 20px; /* Adjust as needed */
   margin: 0;
     }

/* Card stacks css */
body {
	background-color: #2E3537;
	font-family: 'Arial', sans-serif;
}

:root {
	--cards: 4;
	--cardHeight: 60vh;
	--cardTopPadding: 1.5em;
	--cardMargin: 4vw;
	--cardMobileHeight: 80vh;
}

.container {
	width: 90%;
	margin: 0 auto;
}

#cards {
	list-style: none;
	padding-left: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--cards), var(--cardHeight));
	gap: var(--cardMargin);
	padding-bottom: calc(var(--cards) * var(--cardTopPadding));
	margin-bottom: var(--cardMargin);
}

#card1 {
	--index: 1;
}
#card2 {
	--index: 2;
}
#card3 {
	--index: 3;
}
#card4 {
	--index: 4;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--cardTopPadding));
}

#card1 .card-body {
	background-color: #C1887C;
}
#card2 .card-body {
	/* background-color: #7EC4CF; */
	background-color: #C1887C;
}
#card3 .card-body {
	background-color: #C1887C;
}
#card4 .card-body {
	background-color: #C1887C;
}

/* .card-body {
	box-sizing: border-box;
	padding: 30px;
	border-radius: 50px;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
	height: var(--cardHeight);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;
} */
.card-body {
	box-sizing: border-box;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
	height: var(--cardHeight);
	display: flex;
	transition: all 0.5s;
  }
  
  .left-side {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 50%;
  }
  
  .left-side img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	border-radius: 15px;
  }
  
  .right-side {
	flex: 1;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center; /* Center content vertically in the right-side */
  }
  
  .right-side h2 {
	font-size: 2em;
	margin-bottom: 10px;
  }
  
  .right-side p {
	font-size: 1.5em;
	margin: 0; /* Remove default margin to prevent unwanted space */
  }
  
  /* Media query for mobile layout */
  @media only screen and (max-width: 600px) {
	#cards {
		grid-template-rows: repeat(var(--cards), var(--cardMobileHeight));
	  } 

	.card-body {
		flex-direction: column;
		text-align: center;
		height: var(--cardMobileHeight);
	  }
	
	  .left-side {
		max-width: 100%; /* Allow the image to take the full width */
		display: flex;
		justify-content: center; /* Center the image horizontally */
		align-items: center; /* Center the image vertically */
	  }
	
	  .left-side img {
		width: 80%; /* Adjusted photo size for smaller screens */
		max-height: 80%; /* Adjusted max-height for better visibility */
		object-fit: cover;
		border-radius: 15px;
	  }
	
	  .right-side h2 {
		font-size: 1.5em; /* Adjusted font size for mobile */
	  }
	
	  .right-side p {
		font-size: 1em; /* Adjusted font size for mobile */
	  }
  }
  

h2 {
	font-size: 2.5em;
}
p {
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.42;
}
aside p {
	margin-bottom: 1em;
}
